html {
  height: 100%;
  width: 100%;
	font-family: sans-serif;
}

h2, p, tr, th{
	 border: 0; 
	margin: 0; 
	padding: 0; 
	vertical-align: baseline; 
}

body {
	background-color: #ebe7f3;
}

.intro {
	text-align: center;
	font-size: 1.3em;
	margin: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table {
	width: 80%;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

table, td:not(#header) {
	border: 1px solid black;
	height: 30px;
	border-collapse: collapse;
	vertical-align: middle;
	text-align: left;
	table-layout:fixed;
	padding: 0.5em;
}

tr:nth-child(even) {background-color: #f5f5f5;}
tr:nth-child(odd) {background-color: #ffffff;}

#header {
	height: 40px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	background-color: #04AA6D;
	color: white;
}

.facial {
	background: linear-gradient(0deg, rgba(88,51,17,1) 0%, rgba(168,105,82,1) 100%);
}

.eyes 
{
	background: linear-gradient(0deg, rgba(19,105,74,1) 0%, rgba(30,186,40,1) 100%);
}

.hair {
	background: linear-gradient(0deg, rgba(105,84,19,1) 0%, rgba(186,142,30,1) 100%);
}

.interaction {
	background-image: linear-gradient(
    180deg,
    hsl(163deg 85% 79%) 0%,
    hsl(162deg 85% 79%) 3%,
    hsl(160deg 85% 80%) 6%,
    hsl(159deg 84% 80%) 10%,
    hsl(158deg 84% 80%) 13%,
    hsl(156deg 84% 81%) 17%,
    hsl(155deg 83% 81%) 21%,
    hsl(154deg 83% 81%) 25%,
    hsl(152deg 83% 82%) 30%,
    hsl(150deg 82% 82%) 34%,
    hsl(149deg 82% 83%) 39%,
    hsl(147deg 81% 83%) 45%,
    hsl(145deg 81% 83%) 50%,
    hsl(143deg 80% 84%) 55%,
    hsl(141deg 80% 84%) 61%,
    hsl(139deg 79% 84%) 67%,
    hsl(137deg 78% 85%) 73%,
    hsl(135deg 78% 85%) 78%,
    hsl(133deg 77% 85%) 84%,
    hsl(130deg 76% 86%) 90%,
    hsl(127deg 75% 86%) 95%,
    hsl(125deg 74% 86%) 100%
  );
}

ul {
	margin: 0px;
}

.explain
{
	font-size: 1em;
}
.explain p
{
	font-size:1.4em;
}

footer
{
	text-align: center;
	height: 20%;
	padding: 3px;
	bottom: 0;
	left: 0;
	background-color: rgb(164,118,199);
	color: white;
	margin: 0;
}
